---
pagination:
    data: orgs
    size: 1
    alias: org
addAllPagesToCollections: true
permalink: "/{{ org.path }}/"
---

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{{ org.full_name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    {% include dependencies.html %}

    <link rel="stylesheet" href="{{ "/css/orgs.css" | url }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
        integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ=="
        crossorigin="anonymous"></script>
    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <div class="page-wrapper">
        <a href="{{ "/#" | append: org.path | url }}" id="back-text">‹ back to EWD 2020</a>
        <div class="card {{ org.id }}" id="{{ org.id }}" data-names="{{ org.full_name }} {{ org.short_name }}">

            <div class="card-img-wrapper"><img src="{{ "/data/" | append: org.path | append: "/logo.png" | url }}"
                    class="card-img"></div>
                    
            <div class="card-text">
                <b>{{ org.full_name }}</b><br>
                {% if org.short_name != "" %}
                <em>{{ org.short_name }}</em><br>
                {% endif %}
                Floor {{ org.floor }}, Table {{ org.table }}
                <br>
            </div>


        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>