<link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/logo.png" | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicon-32x32.png" | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | url }}img">
<link rel="manifest" href="{{ "site.webmanifest" | url }}">

<link rel="stylesheet" href="{{ "/css/normalize.css" | url }}">
<link rel="stylesheet" href="{{ "/css/main.css" | url }}">
<link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">
