<div>
<section id="about">
    <h1>About</h1>
    <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
        students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost, serve as
        a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to
        create a smooth transition to UCLA Engineering and to inform students of resources that are available to them to
        assist in their academic and professional success.</p>
    <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
        students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost, serve as
        a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to
        create a smooth transition to UCLA Engineering and to inform students of resources that are available to them to
        assist in their academic and professional success.</p>
    <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
        students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost, serve as
        a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to
        create a smooth transition to UCLA Engineering and to inform students of resources that are available to them to
        assist in their academic and professional success.</p>
    <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
        students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost, serve as
        a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to
        create a smooth transition to UCLA Engineering and to inform students of resources that are available to them to
        assist in their academic and professional success.</p>
</section>
<hr>
<section id="speakers">
    <h1>Speakers</h1>
    <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
        students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost, serve as
        a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to
        create a smooth transition to UCLA Engineering and to inform students of resources that are available to them to
        assist in their academic and professional success.</p>
    {% include speakers.html %}
</section>
<hr>
<section id="orgs">
    <h1>Organizations</h1>
    <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
        students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost, serve as
        a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to
        create a smooth transition to UCLA Engineering and to inform students of resources that are available to them to
        assist in their academic and professional success.</p>
</section>
</div>