<div>
    <section id="about">
        <h1>About</h1>
        <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
            students, hosted by the Engineering Society at UCLA (ESUC). Students will have the opportunity to learn
            about UCLA's School of Engineering, meet fellow engineering students, and hear from engineering faculty.
            Students will also have the opportunity to learn about the 40+ student organizations in attendance.
        </p>
        <p>
            Engineering Welcome Day (EWD) will be hosted online on September 20th, 2020. The event will be split into
            two sessions to accommodate different time zones. Session 1 will be <b>9:00am - 12:00pm (PDT)</b> and
            Session 2 will be <b>6:00pm - 9:00pm (PDT)</b>. Both sections are identical - plan to only attend one.
        </p>
        <p>
            <b>Note: </b>This year, EWD is using a platform called <b>Gatherly</b>. Please note that Gatherly is only
            supported on a
            desktop/laptop and is not available on mobile devices. To test whether your computer can run Gatherly on a
            browser, please visit test.gatherly.io.
        </p>
        <p id="rsvp">
            To ensure that you will receive a link for the event, RSVP <a
                href="https://forms.gle/JjmyW9VPGUK4ZaWQA">here</a> as soon as possible. We hope to see you
            there!
        </p>
    </section>
    <hr>
    <section id="speakers">
        <h1>Speakers</h1>
        <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
            students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost,
            serve as
            a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to
            create a smooth transition to UCLA Engineering and to inform students of resources that are available to
            them to
            assist in their academic and professional success.</p>
        {% include speakers.html %}
    </section>
    <hr>
    <section id="orgs">
        <h1>Organizations</h1>
        <p>More Info coming soon!</p><p><b>List:</b></p>
        <p>
            {% include orgs_list.html %}
        </p>
    </section>
</div>