<p class="event-name">Welcome</p>
<p class="speaker-name">Arnold Pfahnl </p>
<p class="speaker-desc">ESUC President</p>
<br>
<p class="event-name">General Remarks</p>
<p class="speaker-name">Dean Murthy</p>
<p class="speaker-desc">Ronald and Valerie Sugar Dean of Engineering</p>
<p class="speaker-name">Dean Brandenberg</p>
<p class="speaker-desc">Dean of Diversity and Inclusion</p>
<p class="speaker-name">Dean Wesel</p>
<p class="speaker-desc">Associate Dean</p>
<br>
<p class="speaker-name">William Herrera</p>
<p class="speaker-desc">Director of Undergraduate Research and Internship Programs</p>
<br>
<p class="event-name">Career Center</p>
<p class="speaker-name">Danit Havton </p>
<p class="speaker-desc">Assistant Director for Career Education & Engagement</p>
<br>
<p class="event-name">Resilience in your Student Experience (RISE)</p>
<p class="speaker-name">UCLA Counseling and Psychological Services</p>
<p class="speaker-desc">(CAPS)</p>
<br>
<p class="event-name">OASA & Scholarships</p>
<p class="speaker-name">Alina Haas </p>
<p class="speaker-desc">Academic Counselor</p>
<br>
<p class="event-name">Alumni Association</p>
<p class="speaker-name">Marianne So</p>
<p class="speaker-desc">President of Engineering Alumni Association</p>
<br>
<p class="event-name">MentorSEAS</p>
<p class="speaker-name">Wes Uehara & MentorSEAS Staff </p>
<p class="speaker-desc">Engineering Transfer Center</p>