<p class="event-name">Welcome</p>
<p class="speaker-name">Arnold Pfahnl </p>
<p class="speaker-desc">ESUC President</p>
<br>
<p class="event-name">General Remarks</p>
<p class="speaker-name">Jayathi Murthy</p>
<p class="speaker-desc">Ronald and Valerie Sugar Dean</p>
<p class="speaker-name">Scott Brandenberg</p>
<p class="speaker-desc">Associate Dean of Diversity and Inclusion</p>
<p class="speaker-name">Richard Wesel</p>
<p class="speaker-desc">Associate Dean of Academic and Student Affairs</p>
<br>
<p class="speaker-name">William Herrera</p>
<p class="speaker-desc">Director of Undergraduate Research and Internship Programs</p>
<br>
<p class="event-name">Career Center</p>
<p class="speaker-name">Danit Havton </p>
<p class="speaker-desc">Assistant Director for Career Education & Engagement</p>
<br>
<p class="event-name">Resilience in your Student Experience (RISE)</p>
<p class="speaker-name">Eboni Martin</p>
<p class="speaker-desc">UCLA Counseling and Psychological Services</p>
<br>
<p class="event-name">OASA & Scholarships</p>
<p class="speaker-name">OASA</p>
<p class="speaker-desc">Anycia Reyes</p>
<br>
<p class="event-name">Alumni Association</p>
<p class="speaker-name">Marianne So</p>
<p class="speaker-desc">President of Engineering Alumni Association</p>
<br>
<p class="event-name">MentorSEAS</p>
<p class="speaker-name">Wes Uehara & MentorSEAS Staff </p>
<p class="speaker-desc">Engineering Transfer Center</p>